<div class="announcement">
  <h2 id="{{ page.number | prepend: 'hw' | slugify }}">Homework {{ page.number }}: {{ page.title }}</h2>
  <span class="announcement-meta">
    {% if page.release and page.due %}
    {%- assign release_time = page.release | date: '%b %d, %l:%M %p' -%}
    {%- assign due_time = page.due | date: '%b %d, %l:%M %p' -%}

    Release: <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ release_time | date: '%Y-%m-%dT%H:%M:%S' }}&p1=747">
      {{ release_time }}
    </a> - Due: <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ due_time | date: '%Y-%m-%dT%H:%M:%S' }}&p1=747">
      {{ due_time }}
    </a>
    {% endif %}
  </span>
  <div>
    {% if page.pdf and page.replit %}
    <ul>
      <li>
        PDF Version: [<a href="{{ page.pdf | absolute_url }}">Link</a>] (Doesn't render images, check Repl.it)
      </li>
      <li>
        Repl.it: [<a href="{{ page.replit | absolute_url }}">Starter code</a>]
      </li>
      {% if page.walkthrough %}
      <li>
        Walkthrough: [<a href="{{ page.walkthrough | absolute_url }}">Video</a>]
      </li>
      {% endif %}
      {% if page.walkthrough2 %}
      <li>
        Walkthrough Pt. 2: [<a href="{{ page.walkthrough2 | absolute_url }}">Video</a>]
      </li>
      {% endif %}
      {% if page.solution %}
      <li>
        Solution: [<a href="{{ page.solution | absolute_url }}">Repl.it</a>]{% if page.solution_walkthrough %}[<a href="{{ page.solution_walkthrough }}">YouTube</a>] {% endif %}
      </li>
      {% endif %}
    </ul>
    {% endif %}

    {{ content }}
  </div>
</div>
